### A. Things you already know:

* Boolean expression
* Logical operators
* Logical expressions (if:, else if:, else:)

*Note: In Python **else if** is written as **elif** *

### B. Introducing elif:

In [ ]:
number = int(input("Enter a number: "))

if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

#### Exercise:

**Recall the problem:**

For a certain academic subject the students are evaluated based on five tests -

* Quiz 1 (20 marks - 10% Weight),
* Quiz 2 (20 marks - 10% Weight),
* Class test (50 marks - 25% Weight),
* Assignment (100 marks - 25% weight) and
* Project (200 marks - 30% weight).

Design a program that will prompt the user for marks for each of the tests and calculate the overall marks (out of 100).

#### Add an extension to the problem to display grades:

Display the grades of students using the following table:

    Score		Grade
	>= 60		First Class
	>= 40		Second Class
	< 40		Fail

In [ ]:
x = int(input('Quiz 1 Marks: '))
y = int(input('Quiz 2 Marks: '))
z = int(input('Class Test: '))
a = int(input('Assignment: '))
b = int(input('Project: '))
c = float(x*5*0.1)+float(y*5*0.1)+float(z*2*0.25)+float(a*0.25)+float(b*0.5*0.30)
print('Overall Mark: ', c)
if c<40:
    print(c, ' - Fail')
elif c >= 40 and c < 60:
    print(c, ' - Second Class')
elif c >= 60:
    print(c, ' - First Class') #done

#### Exercise:

**Recall the problem:**

How about prompting the user for the number of hours and using the input value to compute the total pay?

**Include a modification**

Write a program to prompt the user for hours and rate per hour to compute the gross pay. The pay computation should be such that the employees should get 1.5 times the hourly rate for hours worked above 40 hours.

In [ ]:
x = int(input('Enter number of Hours worked: '))
y = int(input('Enter the rate per hour: '))

if x <= 40:
    z = x*y
    print('Gross Pay: ', z)
else:
    z = x*y +((x-40)*1.5*y)
    print('Gross Pay: ', z) #done

### C. Exception Handling:

**try & except**

Rewrite the pay program (refer problem 2) using try and expect so that the program handles non-numeric input gracefully by printing a message and exiting the program. The following shows two executions of the program:

	Enter hours: 20
	Enter rate:  nine
	Error, please enter numeric input

In [ ]:
try:
    hour = int(input('Enter hour: '))
    rate = int(input('Enter rate: '))

    if hour <= 40:
        pay = hour*rate
    else:
        pay = 40*rate + (hour-40)*1.5*rate

    print(pay)
    
except:
    print('Error, please enter numeric input')

### D. For Loop

**Consider the following list of number**
    
    L = [12,18,11,15,9,7,16]

In [1]:
L = [12,18,11,15,9,7,16]  #List

In [2]:
L[1]

18

In [3]:
print(L[0])
print(L[1])
print(L[2])
print(L[3])
print(L[4])
print(L[5])
print(L[6])

12
18
11
15
9
7
16

In [9]:
for i in range(0,7):
    print(L[i], end=" ")

12 8 11 5 9 7 16

In [12]:
L = [1,2,3,4,5,6,7,8,9,10]
for i in range(0,6):
    print(L[i], end="   ")

1   2   3   4   5   6

In [6]:
L = [12,18,11,15,9,7,16]
for i in range(0,4):
    print(L[i])

12
18
11
15

In [7]:
L = [12,8,11,5,9,7,16]
p = int(input('Enter number sequence: '))
for i in range(0,p):
    print(L[i])

Enter number sequence: 5
12
8
11
5
9

# for i in L:
    print(i)

In [13]:
p=(input('Enter: '))
for i in range(0,len(p)):
    x = p[i]
    print(x)

Enter: 3
3

In [14]:
p = input()
x = [y for y in p]
print(x)

8
['8']

In [17]:
L = [12,11,15,9,7,16]
P = [1,2,3,4,5,6,7,8,9,10,1,2,4,5,6,4,5,6,3]
for i in L:
    print(P[i], end=" ")

4 2 4 10 8 5

**1. Calculating the sum of numbers in a list.**

In [18]:
total = 0 
L = [12,11,15,9,7,16,42]
for i in L:
    total = total + i
print(total)

112

**2. Counting the number of elements present in a list.**

In [19]:
p=[5,3,8,4,5,67,7,8,8,8]
c=0
for n in p:
    c+=1 # c=c+1 == c+=1
print(c)

10

**3. Finding the largest number in a sequence.**

In [22]:
l = [1,2,3,104,5,6,57,8,229,7]
max = l[0]
for i in l:
    if i > max:
        max = i    
print(max)

229

**4. Finding the smallest number in a sequence.**

In [23]:
l = [104,5,6,57,8,229]
min = l[0]
for i in l:
    if i < min:
        min = i
print(min)

5

### E. Introducing range()

In [ ]:
range(0,7) #Integers ranging from 0 to 6 (Shift + tab for help)

In [30]:
len(range(0,10,2)) # 0,2,4,6

6

In [31]:
L = [12,18,11,15,9,7,16]
for i in range(0,8,2) :#Integers ranging from 0 to 8 at an interval of 2
    x = L[i]
    print(x)

12
11
9
16

In [36]:
x=range(0,7,3)
for n in x:
    print(n, end=" ")

0 3 6

In [ ]:
for i in range(0,7):
    print(L[i])

In [ ]:
L = [12,18,11,15,9,7,16]
for i in [0,3,4]:
    print(L[i])

**1. Calculate the sum of first n natural numbers**

* Natural Numbers starts from 1.
* Whole Numbers starts from 0.

In [38]:
total = 0
n = int(input('Enter the first n natural number: '))

for i in range(1,n+1):
    total += i
    
print(total)

Enter the first n natural number: 10
55

In [39]:
for i in range(70,20,-10):
    print(i)

70
60
50
40
30

**2. Calculate the mean of the first n positive integers.**

In [40]:
n = int(input('Enter first n positive integers: '))
count = 0
sum = 0
for i in range(0,n):
    count += 1
    sum += count
mean = sum/count
print(mean)

Enter first n positive integers: 10
5.5

In [5]:
def calculate():
    n = int(input('Enter first n positive integers: '))
    count = 0
    sum = 0
    for i in range(0,n):
        count += 1
        sum += count
    mean = sum/count
    return(mean)

print(calculate())

Enter first n positive integers: 6
3.5

**3. Calculate the standard deviation of the first n positive integers**

In [6]:
n = int(input('Enter first n positive integers: '))
count = 0
sum = 0
variance1 = 0
for i in range(0,n):
    count += 1
    sum += count
print('Count -', count)
print('Sum -', sum)
mean = sum/count
print('Mean -', mean)
for j in range(n+1,1,-1):
    j -= 1
    variance = (float(j-mean)**2)
    variance1 += variance
var1 = float(variance1/count)
print('Variance -', var1)
sd = (var1)**0.5
print('Standar Deviation -', sd)

Enter first n positive integers: 6
Count - 6
Sum - 21
Mean - 3.5
Variance - 2.9166666666666665
Standar Deviation - 1.707825127659933

In [ ]:
L = [1,2,3,4,5,6,7,8,9,10]
p = int(input('Enter a number less 10 to find the sequence: '))
for i in range(0,p):
    x = L[i]
    print(x)